<!doctype html>
<html lang="{{ site.locale | slice: 0, 2 | default: 'en' }}">
<head>
  {% include site-head.html %}
</head>
<body id="top" class="page-wrapper">
  {% include site-nav.html %}

  <div class="page-body">
    <div class="pub">
      <div class="article-container {% if page.full_width %}full{% elsif page.wide %}wide{% endif %}">
        <div class="page-title">
          <h1>{{ page.title }}</h1>
        </div>

        {% if page.list_publications %}
          {% include publication-groups.html %}
        {% endif %}

        <div class="article-style">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% include bibtex-modal.html %}

  {% include site-footer.html %}
</body>
</html>
